@font-face {
  font-family: "JK Abode";
  src: url("./fonts/JKAbode-Demo.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "IRANSans(FaNum)";
  src: url("./fonts/JKAbode-Demo.ttf") format("truetype");
  font-style: medium;
  font-weight: medium;
}

h1 {
  font-family: "JK Abode";
  color: #fff;
  font-size: 90px;
  letter-spacing: 5px;
}

body {
  height: 100vh; /* Esto establece que la altura sea del 100% del viewport */
  background-color: #27262c; /* Cambia este color de fondo según tus preferencias */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*text-align: center;*/
}

img.imgcircle {
  height: 914px;
  width: auto;
  position: absolute;
  left: 0px;
  margin-top: auto;
  top: 0px;
  z-index: -999;
}

img.imgcircletop {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30%;
  z-index: -999;
}

img.imgtrianglebottom {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 27%;
}

img.imgellipse {
  position: absolute;
  z-index: 999;
  left: 185px;
  top: 120px;
  width: 4%;
  animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}
@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 1;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

/*Placeholders*/
input[type="text"],
input#contrasena {
  background: #27262c;
  color: #fff !important;
  border-bottom: 1px solid #fff !important;
  border-width: 0px 0px 1px 0px;
  font-size: 25px;
  width: 100%;
}

button.eye {
  background-color: transparent;
  color: #fff;

  position: absolute;
  top: 58%;
  right: 790px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: #666; /* Adjust icon color */
}

/*Button Login*/
button {
  background: #4044ed;
  color: #fff !important;
  height: 5vh;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

/*Link de registro*/
a.linkregister {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
}
